body {
    margin: 0%;
    background-image: url(img/fundodosite.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}
/* CLASSES NAV */
.rosa {
    background-color: pink;
}
.branco {
    background-color: white;
}
.bordarosa {
    border-top: solid 8px #EE57B2;
    border-bottom: solid 2px rgb(194, 194, 194);
}
/* CLASSES CARROSSEL */
.carrossel {
 width: 600px;
 margin-top: 50px;
}

.border-radius {
    border-radius: 40px;
}
/* Titúlo do LANÇAMENTOS */

.titulolançamentos {
    text-align: center;
    font-size: 30px;
    margin-top: 50px;
    font-family: Impact, fantasy;
    color: #EE57B2;
}

/* CLASSE NÃO USADA PARA LANÇAMENTOS 
.posiçaolançamentos { 
    width: 55%; 
    margin-left: auto;
    margin-right: auto; 
    background-color: white;
    border-radius: 30px;
} */

.desencostar {
    margin-top: 50px;
}

.esquerdalançamentos {
    margin-left: 80px;
}

.centralizar-produtos-lançamento {
   width: 80%;
   
}
.alturacarrossel {
    height: 200px;
    border-radius: 40px;
}

.btn-barbie {
    --bs-btn-color: #fff;
    --bs-btn-bg: #EE57B2;
    --bs-btn-border-color: #EE57B2;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #be0072;
    --bs-btn-hover-border-color: #be0072;
    --bs-btn-focus-shadow-rgb: 60,153,110;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #9b035e;
    --bs-btn-active-border-color: #9b035e;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    /* --bs-btn-disabled-bg: #198754; */
    /* --bs-btn-disabled-border-color: #198754; */
}

.btn-outline-barbie {
    --bs-btn-color: #EE57B2;
    --bs-btn-border-color: #EE57B2;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #EE57B2;
    --bs-btn-hover-border-color: #EE57B2;
    --bs-btn-focus-shadow-rgb: 25,135,84;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #be0072;
    --bs-btn-active-border-color: #be0072;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #be0072;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #be0072;
    --bs-gradient: none;
}

/* BTN COMPRAR // CARRINHO */


.btn-secondary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #6c757d;
    --bs-btn-border-color: #6c757d;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #5c636a;
    --bs-btn-hover-border-color: #565e64;
    --bs-btn-focus-shadow-rgb: 130,138,145;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #565e64;
    --bs-btn-active-border-color: #51585e;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #6c757d;
    --bs-btn-disabled-border-color: #6c757d;
}


.card-footer1 {
   
    color: var(--bs-card-cap-color);
    background-color: var(--bs-card-cap-bg);
    border-top: var(--bs-card-border-width) solid var(--bs-card-border-color);
}

.bg-pink {
    background-color: #EE57B2;
}
.titulocarrinho {
    text-align: center;
    font-size: 20px;
    font-family: Impact, fantasy;
    color: #EE57B2;
    margin-top: 15px;
}


body::-webkit-scrollbar {
    width: 0px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: none;        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: none;    /* color of the scroll thumb */
    border-radius: none;       /* roundness of the scroll thumb */
    border: none;  /* creates padding around scroll thumb */
  }
  
/* OPACIDADE */
.opacidade:hover {
    opacity: 0.8;
}

.rosasite {
    color: #EE57B2;
    margin: 0 0 -12px;
}



.bi-arrow-up-circle-fill {
    bottom: 2rem;
    right: 2rem;
    cursor: pointer;

}



/* CONTEUDO CARRINHO */

.dropstart .dropdown-menu[data-bs-popper] {
    top: 0;
    right: 100%;
    left: auto;
    margin-top: 0;
    margin-right: var(--bs-dropdown-spacer);
    width: 600px;
   
} 
/* BORDA ROSA */
.pinkborder {
    border: solid 2px #EE57B2;
} 

/* fundo sobre skin care */
.fundosobreskincare {
    background-color: rgba(240, 161, 222, 0.3);
    border-radius: 20px;
}

.fonte {
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    font-size: large;
}


/* FOOTER */
 

.fot {
    background-color: rgba(255, 210, 237, 1);
}


.linha-fot{

color: black;

}





.cim{
    align-items: flex-start;
    display: flow-root;
}

.sec{
    align-items: center;
    text-align: center;
}


.left{
    margin-left: 6%;
    font-size:larger;
}

.right{
    margin-right: 6%;
    font-size: larger;
}

.bt {
    margin: 50px;
    font-size: small;
}
.bgcover-1 {
    background-size: cover;
    background-image: url(img/fundosobre.jpg);
    width: 80vw;
    height: 100vh;
}
.textosobre {
    font-size: xx-large;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

.titulolançamentos2 {
    text-align: center;
    font-size: 30px;
    margin-top: 50px;
    font-family: Impact, fantasy;
    color: #EE57B2;
}
.fundosobrenós {
    background-color: rgba(118, 28, 98, 0.3);
    border-radius: 0px 60px 0px 60px;
}
.fonte2 {
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    font-size: large;
    color: white;
}
.fundosprodutos {
    background-color: rgba(118, 28, 98, 0.3);
    border-radius: 60px 0px 60px 0px;
} 
/* PROPAGANDA PEQUENA */
.propagandapequena {
    width: 500px;
}


.card1 {
    --bs-card-spacer-y: 1rem;
    --bs-card-spacer-x: 1rem;
    --bs-card-title-spacer-y: 0.5rem;
    --bs-card-title-color: ;
    --bs-card-subtitle-color: ;
    /* --bs-card-border-width: var(--bs-border-width); */
    --bs-card-border-color: var(--bs-border-color-translucent);
    --bs-card-border-radius: var(--bs-border-radius);
    --bs-card-box-shadow: ;
    --bs-card-inner-border-radius: calc(var(--bs-border-radius) - (var(--bs-border-width)));
    --bs-card-cap-padding-y: 0.5rem;
    --bs-card-cap-padding-x: 1rem;
    --bs-card-cap-bg: rgba(var(--bs-body-color-rgb), 0.03);
    --bs-card-cap-color: ;
    --bs-card-height: ;
    --bs-card-color: ;
    --bs-card-bg: var(--bs-body-bg);
    --bs-card-img-overlay-padding: 1rem;
    --bs-card-group-margin: 0.75rem;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    height: var(--bs-card-height);
    color: var(--bs-body-color);
    word-wrap: break-word;
    background-color: var(--bs-card-bg);
    background-clip: border-box;
    border: var(--bs-card-border-width) solid var(--bs-card-border-color);
    border-radius: var(--bs-card-border-radius);
} 
/* BORDER PROPAGANDA */
.bordapropagandapequena {
    border-radius: 10px;
}

