body {
    margin: 0%;
    background-color: white;
}
.rosa {
    background-color: pink;
}
.branco {
    background-color: white;
}
.bordarosa {
    border-top: solid 8px #EE57B2;
    border-bottom: solid 2px black;
}
.carrossel {
 width: 50%;
 margin-top: 50px;
}
.border-radius {
    border-radius: 50px;
}